<div class="p-2">
    <div class="hero min-screen sbg-base-200 p-5">
    <h1 class="text-5xl font-bold">Ljestvica bodova za natjecanje: 
        {{result.name}}</h1>
    </div>
<div class="hero min-screen bg-base-200 p-5">
    <h2 class="text-3x1 font-bold"  x-data="{}"> Datum prijave: <span x-text="new Date('{{result.date}}').toLocaleString()"></span> </h2>
    </div>

    <div class="flex flex-none flex-col items-center">
        <table>
            <!-- head -->
            <!-- body -->
            <tbody>
                {{#each result.items}}
                <tr>
                    <th class="p-2" x-data="{}"><span x-text="{{@index}}+1"></span></th>
                    <td class="p-3">{{this.Competitor}}</td>
                    </td>
                    <td x-data="{}">
                    </td>
                    <td>{{this.score}}</td> 
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

